<li>
  <strong><%= comment.user.email %></strong> : <%= comment.body %>
  <%if user_signed_in? %>
  <%if current_user==comment.user %>
      | <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</li>
 
